section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

#welcome { background-color: #007bff; }
#schedule { background-color: #28a745; }
#register { background-color: #dc3545; }

@media (max-width: 800px) {
    section {
        height: 50vh;
    }
}