<div data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
    <nav id="navbar" class="navbar navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#welcome">
            <i class="bi bi-house-heart"></i>
        </a>
        <a class="navbar-brand" href="#schedule">Planning</a>
        <a class="navbar-brand" href="#register">Inschrijven</a>
    </nav>
    
    <div>
        <section id="welcome">Welkom</section>
        <section id="schedule">Planning</section>
        <section id="register">Inschrijven</section>
    </div>
</div>